.row {
  margin: 0px !important;
}

.img {
  height: 25vh;
}

.nav-item a {
  color: #ffffff !important;
  text-decoration: none;
}

.logo {
  color: #ffffff !important;
  text-decoration: none !important;
  margin-right: 50px !important;
}

.hero-block {
  color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/best-art-choice-award-original-abstract-oil-painting-modern-trees-contemporary-home-deco-gallery-emma-lambert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-block h1 {
}

.bou {
  margin: 10px;
}

.cardd :hover {
  transform: scale(1.02);
  transition: all 0.03s !important;
}
